@import "fonts.css";
@import "variables.css";

body{
    background-color: var(--g-whitebg);
    height: 100vh;
    width: 100vw;
}
    main{
        display: grid;
        grid-template-areas: "sidebar ops ops";
    }
        .dashboard{
            grid-area: "sidebar";
            width: 20vw;
            height: 98vh;
            background-color: var(--white);
            border-radius: 9px;
            margin-left: 2vw;
            margin-top: 10vh;
            box-shadow: var(--shadowbright);
        }
                .dashitem{
                    cursor: pointer;
                    font-size: 16px;
                    padding-left: 20px;
                }
                .dashhead{
                    padding-left: 20px;
                    padding-top: 20px;
                    margin-bottom: 0;
                    font-family: var(--red-hat-display);
                }
                .accordion-body > a {
                    cursor: pointer;
                }
.adminops{
    grid-area: "ops";
    width: 75vw;
    height: fit-content;
    min-height: 98vh;
    margin-bottom: 10vh;
    background-color: var(--white);
    border-radius: 9px;
    margin-top: 10vh;
    box-shadow: var(--shadowbright);
    padding: 2rem !important;
}
    .actionForm{
            border: 1px solid rgb(182, 182, 182);
            border-radius: 9px;
            padding: 2rem;
            margin: 15px;
        }
                .formHead{
                    font-family: var(--red-hat-display);
                }


    .formlog{
        position: fixed;
        top: 25%;
        left: 10%;
        width: 40%;
        z-index: 9999;
        background-color: white;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.192);
        border-radius: 9px;
        padding: 2rem;
    }

.dashhead a {
    text-decoration: none /*!important*/;
    color: black /*!important*/;
}

.dashhead a:hover {
    color: black /*!important*/;
}

.dashhead a:visited {
    color: black /*!important*/;
}

.custom-sidebar a {
    text-decoration: none /*!important*/;
    color: black /*!important*/;
}

.custom-sidebar a:hover {
    color: black /*!important*/;
}

.custom-sidebar a:visited {
    color: #000 /*!important*/;
}

.custom-margin-15 {
    margin-top: 15px /*!important*/;
}

.dashboard .dashitem {
    padding-bottom: .5em;
}

/*Login CSS*/

.signup-link:visited {
    color: blue;
}
table{
    width: 100%;
    border: 1px solid black;
}