* {
    --g-whitebg : #f6f6f6;
    --white : #ffffff;
    --black : #000000;
    --black-01 : rgba(0, 0, 0, 0.1);
    --outlines : #ff9f1c;
    --logo-green : #01ffba;
    --logo-red : #fa314a;
    --red : #fa314a;
    --shadowdeep: 2px 2px 6px #00000034;
    --shadowbright: 1px 1px 6px #00000034;
}