@import "fonts.css";
@import "variables.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--comfortaa);
}

body {
    background-color: var(--g-whitebg);
}

header {
    width: 100%;
    box-shadow: .1px 0.1px 6px var(--black-01);
    background-color: var(--white);
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    z-index: 999;
}

.logo img {
    width: 300px;
    height: 72px;
}

.logo {
    margin-top: 5px;
    margin-left: 5px;
    width: 300px;
    height: auto;
}

@import "compass/css3";

.ico-mglass {
  position:relative;
  display:inline-block;
  border-radius: 30px;
  height: 11px;
  width: 15px;
  border: 2px solid var(--white);
  padding: 5px;
  margin: auto;
}

.ico-mglass:after {
    content: "";
    height: 2px;
    width: 6px;
    background: var(--white);
    position:absolute;
    top:10px;
    left:10px;
    transform: rotate(45deg) ;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.searchbar {
    margin-top: 25px;
}

.searchbar a {
    text-decoration: none;
}

.searchbar button {
    border-radius: 0px 10px 10px 0px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
    border-color: transparent;
    width: 35px;
    height: 30px;
    background-color: var(--logo-red);
}

.searchbar input {
    border: 1px solid var(--outlines);
    border-radius: 10px 0px 0px 10px;
    box-shadow: inset 3px 2px 5px rgba(0, 0, 0, 0.3);
    width: 800px;
    height: 30px;
}

.navbar {
    margin-top: 20px;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
}

.navbar ul li {
    padding: 0 10px;
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.cart-png {
    width: 20px;
    height: 17px;
}

.content {
    width: 100%;
    height: auto;
}

.hero-img {
    margin: 0 auto;
}

.hero-header {
    font-size: 3em;
    position: absolute;
    top: 7em;
    left: 1em;
    z-index: 5;
}

.logo-text {
    font-family: 'Sofia', cursive;
    font-size: 1.5em;
    font-weight: bold;
}
