@import url("fonts.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--comfortaa);
}

.nav nav ul {
    display: flex;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav ul li{
    list-style-type: none;
    padding: 0 10px;
}

.logo img {
    width: 200px;
    height: 48px;
}